<header class="header">
  <div class="header-banner">
    <h1 class="header-title">
      <a href="{{ "/" | relative_url }}">{{ include.title | default: site.title | upcase }}</a>
    </h1>
    <a href="{{ "/me" | relative_url }}" class="header-subtitle">{{ site.subtitle }}</a>
  </div>

  <nav class="navbar">
    <ul class="nav-links">
      <li class="nav-link"><a href="{{ "/" | relative_url }}">Home</a></li>
      <li class="nav-link"><a href="{{ "/feed" | relative_url }}">The Feed</a></li>
      <li class="nav-link"><a href="{{ "/projects" | relative_url }}">Projects</a></li>
      <li class="nav-link"><a href="{{ "/me" | relative_url }}">Me</a></li>
    </ul>
  </nav>

  <a class="menu-toggle">
    <i class=" fa-solid fa-minus"></i>
  </a>
</header>
